body{
 background-image: url("app.jpg");
    background-repeat: repeat;
 background-size: 100%;
  background-position: center;
 } 
 .p1{
	 margin-left: 400px;
	 margin-top: 180px;
	 }
	.button{
	 margin-left: 220px;
	 margin-top: 20px;
	 background-color: #4CAF50; /* Green */
    border: none;
    color: white;
	font-size: 20px;
	 }