body{
 background-image: url("inn.jpg");
    background-repeat: repeat;
 background-size: 100%;
  background-position: center;
 } 
 
 .c1{
	 
	text-align: center-left;
	 margin-left: 300px;
	 margin-top:390px;
 }